@charset "utf-8";
header, nav, #path_arrow, #contents, footer #footer_box{
    width: 820px;
    margin-left: auto;
    margin-right: auto;
}
header img{
    max-width: 20%;
}

header h1{
    margin: 0;
    padding: 30px 0 30px 0;
    text-align: center;
}

nav ul{
    list-style-type: none;
    overflow: hidden;
}

nav ul li{
    width: 150px;
    border: 1px solid green;
    float: left;
}

nav ul li a{
    display: block;
    padding: 15px 0;
    color: green;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: white;
}
#main img{
    max-width: 100%;
    margin: 0;
    padding-left: 0;
}
#sub{
    padding: 0px 100px 0px 100px;
}

#sub p{
    margin-top: 1.5em;
    padding: 0 0 1.5em 9.3em;
    text-indent: -9.3em;
}
footer{
    background-color: #CCFF99;
}
footer #info{ 
    padding-left: 33%;
}

#pagetop{
    clear: both;
    text-align: right;
    margin-bottom: 20px; 
    padding: 10px 0;
}
/*イベントページのｃｓｓ*/ｃｓｓ*/
#back_white{
    border-bottom: solid 1px #cacaca;
}
#back_grey{
    background-color: #CCFF99;
    box-shadow: 0px 5px 5px  rgba(0, 0, 0, 0.493);
}
#back_white,#back_grey{
    padding:5px 5px 5px 15%;
}
a{
    text-decoration: none;
    color: #222;
}
#head_right{
    padding-left: 60px;

}
mark{
    background-color: greenyellow;
    border-radius: 25px;
}
#sub h2{
    text-align: center;
    font-weight: 300;
    border-bottom: solid 3px green;
    position: relative;
}
 h2:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #9ACD32;
    bottom: -3px;
    width: 50%;
  }
  nav ul li a:hover{
    background-color: green;
    color: white;
  }
  #day{
    padding-right: 50px;
  }
  /*#back_white,#back_grey{
    text-align: center;
  }*/
  #pagetop a{
    color: rgb(187, 50, 187);
    text-decoration: underline;
  }
  #back_white a:hover,#back_grey a:hover{
    color: rgb(49, 145, 255);
  }
  @media screen and (max-width:760px){                      /*スマートフォン用のｃｓｓ*/
    ul{
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        
    }
    nav ul li{
        width: 93vw;
    }
    header{
        width: 100vw;
    }
    #sub{
        padding: 0px 50px 0px 50px;
    }
    }
    
  /*ここまで*/
