#form{
    justify-content: center;
}
#contens{
    display: flex;
    justify-content: center;
    padding-left: 50px;
}

#contens h2{
    text-align: center;
    font-weight: 300;
    border-bottom: solid 3px green;
    position: relative;
    width: 780px;
}

h2:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #9ACD32;
    width: 50%;
  }

.color{
    color: red;
}

#comment{
    width: 50%;
    height: 100px;
}

#bn{
    background-color: #CCFF99;
    border: 1px solid green;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    #sub{
        padding-left: 50px;
    }

}@media screen and (max-width: 769px) {
    #sub{
        width: 100vw;
        padding-left: 50px;
    }
    #contens h2{
        width: 100vw;
    }

    h2:after{
        width: 50vw;
    }
}

