@charset "utf-8";
#red{
    color: red;
    font-size: 130%;
}
#main{
   background-image: url(../image/main_img.jpg);
}
.img{
    background: rgba(255,255,255,0.3);
}
#box{
    border: 2px solid black;
    background-color: white;
}
#gaido ul li{
    list-style-type: square;
    
}
#gaido{
   width: 300px;
   padding-left: 510px;
}
#gaido ul{
    border: 2px red solid;
    background-color: rgb(241, 245, 248);
    display: inline-block;
    padding: 40px;
    
}
#kyoka{
    color: red;
    font-size: 130%;
}
#gaido2{
    width: 300px;
    padding-left: 510px;
}
#gaido2 ul{
    border: 2px red solid;
    background-color: rgb(241, 245, 248);;
    display: inline-block;
    padding: 40px;
}
#gaido2 ul li{
    list-style-type: square;
}