@charset "utf-8";
#conteiner{
    margin: 0 auto;
}
#sub h2{
    text-align: center;
    font-weight: 300;
    border-bottom: solid 3px green;
    position: relative;
    width: 770px;
}
h2:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #9ACD32;
    width: 50%;
  }
#map_img{
    margin: 0 auto;
    max-width: 700px;
    max-height: 700px;
    padding-left: 100px;
}
#map1{
    display: flex;
    justify-content: center;
}
#pagetop{
    clear: both;
    text-align: right;
    margin-bottom: 20px; 
    padding: 10px 0;
}

@media screen and (max-width: 769px) {
#sub{
    width: 95vw;
    padding-left: 10px;
    
}
#sub h2{
    width: 100vw;
}
h2:after {
    width: 50vw;
}
#map_img{
    width: 80vw;
    padding-left: 20px;
}
}


