@charset "utf-8";

/* 基本レイアウト ここから↓ */
header, nav, #path_arrow, #contents, footer #footer_box{
    width: 820px;
    margin-left: auto;
    margin-right: auto;
}
header img{
    max-width: 20%;
}
header h1{
    margin: 0;
    padding: 30px 0 30px 0;
    text-align: center;
}
nav ul{
    list-style-type: none;
    overflow: hidden;
}
nav ul li{
    width: 150px;
    border: 1px solid green;
    float: left;
    font-weight: bold;
}
nav ul li a{
    display: block;
    padding: 15px 0;
    color: black;
    text-align: center;
    text-decoration: none;
    color: green;
}
nav ul li a:hover{
    background-color: green;
    color: white;
}

#sub{
    padding-left: 400px;
    width: 650px;
 }
#sub p{
    margin-top: 1.5em;
    padding: 0 0 1.5em 9.3em;
    border-bottom: 1px dotted #666666;
    text-indent: -9.3em;
}
footer{
    background-color: #CCFF99;
}
footer #info{ 
    padding-left: 33%;
}
#pagetop{
    clear: both;
    text-align: right;
    margin-bottom: 20px; 
    padding: 10px 0;
}


/* 基本レイアウト ここまで↑ */

@media screen and (min-width: 768px) and (max-width: 1279px) {
    #sub{
        padding-left: 50px;
    }
}
@media screen and (max-width: 769px) {
    #sub{
        width: 95vw;
        padding-left: 50px;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        padding-left: 0px;
    }
    nav ul li{
        width: 95vw;
    }
    header{
        width: 100vw;
    }
    footer #info{
        padding-left: 50px;
    }
    #slide{

    }
}
